* {
    font-family: 'Nunito', sans-serif !important;
}

body {
    font-size: .875rem;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0 !important;
    margin: 0;
    background-color: #fafbfe !important;
    color: #6c757d !important;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

main {
    width: calc(100% - 280px) !important;
    margin-left: 260px;
    overflow: hidden;
    min-height: 100vh;
    padding: 70px 12px 65px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2rem 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 0rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}



.sidebar .nav-link.active {
    font-weight: 500;
    color: #fff;
    opacity: 1;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.p-title-box .p-title {
  font-size: 1.235rem;
  margin: 0;
  line-height: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6c757d;
  font-weight: 600;
}

.active > .page-link, .page-link.active {
    z-index: 3;
    color: #fff !important;
    background-color: #727cf5 !important;
    border-color: #727cf5 !important;
}

.page-link {
    color: #727cf5 !important;
}
