* {
    font-family: 'Nunito', sans-serif !important;
}

body {
    font-size: .875rem;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0 !important;
    margin: 0;
    background-color: #fafbfe !important;
    color: #1f2937 !important;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

main {
    width: calc(100% - 260px) !important;
    margin-left: 260px;
    overflow: hidden;
    min-height: 100vh;
    padding: 70px 12px 65px;
}

h5 {
    font-size: .9375rem !important;
}

h4 {
    font-weight: 700 !important;
    line-height: 1.1;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: 700;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2rem 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .navbar {
        left: 0 !important;
    }
    main{
        margin-left: 0 !important;
        width: 100% !important;
    }
    #sharefastuga{
        display: none;
    }
    #login2{
        display: inline !important;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link.active {
    font-weight: 500;
    color: #fff;
    opacity: 1;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.p-title-box .p-title {
    font-size: 1.235rem;
    margin: 0;
    line-height: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

.p-title-box .p-title-right {
    float: right;
}

.p-title-box .p-title-right h6 {
    font-size: 16px;
    font-weight: 400;
}

.footer {
    width: calc(100% - 260px) !important;
    border-top: 1px solid rgba(138,150,156,.2);
    bottom: 0;
    padding: 19px 24px 20px;
    position: relative;
    right: 0;
    left: 260px;
    transition: all .2s ease-in-out;
    color: #8a969c !important;
    font-size: .85rem;
}

.footer .footer-links a {
    text-decoration: none;
    margin-left: 1.5rem;
    color: #8a969c !important;
}
